.item-list {
    display: flex;
    gap: 10px; /* Adjust spacing between items */
    background-color: #ABDEB3; /* Background color for the entire ItemList component */
    padding: 20px; /* Optional: Adds padding inside the container */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }
  
  .item-container {
    background-color: #D8EADE;
    padding: 10px;
    border: 1px solid #000; /* Optional: Add border around the container */
    border-radius: 5px; /* Optional: Add rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-button {
    background-color: #f0f0f0; /* Adjust button background color if needed */
    border: 1px solid #000; /* Optional: Add border around the button */
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 5px 10px; /* Adjust padding */
  }
  
  .add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  