
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 10px;
}

.items {
  justify-content: flex-start;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  height: calc(100vh - 150px);
  max-height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
}

button {
  font-size: 16px;
}

table {
  float: right;
  width: 75%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid black;
  table-layout: fixed;
}

th, td {
  text-align: center;
  padding: 10px;
  height: 50px;
}

th {
  border: 1px solid black;
  background-color: #f0f0f0;
}

th.time-column, td.time-column {
  border: 1px solid black;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 0.5px solid silver;
  border-bottom: 0.5px solid silver;
}

td:first-child {
  border-left: 1px solid black;
}

tr:last-child td {
  border-bottom: 1px solid black;
}

.scheduled-item {
  background-color: #D8EADE;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  height: 100%;
}

.scheduled-item button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 12px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-inner {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 20px;
  width: 200px;
  margin: auto;
}

footer {
  padding: 20px;
}

.App header {
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App header .Logo {
  height: 55px;
  width: 80px;
}

.App header .filem {
  margin-left: 1300px; 
  height: 30px;
  width: 40px;
}

.App header .Bell {
  margin-left: 30px;
  height: 30px;
  width: 30px;
}

.App header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.App header ul li {
  display: inline;
}


.selected-text {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.selected-text p {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.yellow-background {
  background-color: #F5E389; /* Yellow */
}

.pink-background {
  background-color: #F3B3B2; /* Pink */
}

.green-background {
  background-color: #ABDEB3; /* Green */
}

.blue-background {
  background-color: #B3D8EA; /* Blue */
}

.floating {
  position: fixed;
  width: 20%;
}
