/* /components/Noti.css */
.noti-popup {
  position: fixed;
  top: 10%;
  right: 5%;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.noti-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.noti-header .noti-item {
  display: flex;
  align-items: center;
}

.noti-header p {
  margin: 0;
  font-size: medium;
  margin-right: 5px;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.noti-body {
  padding: 10px;
}

.noti-item {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.noti-item:last-child {
  border-bottom: none;
}

.noti-R {
  border: 1px solid #F83232;
  border-radius: 6px;
  background-color: #F83232;
  padding: 3px;
}

.noti-T {
  border: 1px solid #F5B944;
  border-radius: 6px;
  background-color: #F5B944;
  padding: 3px;
}

.check {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
 }
 
 .check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
 }
 
 .check:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(120, 190, 120);
 }
 
 .check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
 }
 
 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }
 
  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }
 
  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }